* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    background: url("./img/ichigoVsGrimm.jpeg") no-repeat;
    background-position: center;
    background-size: cover;
    outline: white solid 2px;
    outline-offset: -10px;

}



#torneio {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    height: 90dvh;
    width: 75dvw;


}


.center {
    background: url('./img/vs.png') no-repeat;
    background-size: 90%;
    background-position: center;
}

.column.right figure {

    flex-direction: row-reverse;
}

.column .guild {
    height: 10%;
    backdrop-filter: none;
    font-size: 50px;
    color: rgba(0, 0, 0, 1);
    text-shadow: 2px 2px 5px rgb(255, 0, 0),
        -2px -2px 5px rgb(47, 0, 255);
    -webkit-text-stroke: .2px rgb(255, 255, 255);
    text-align: center;

}

.right .guild p::before,
.left .guild p::after {
    content: var(--points, "");
    font-size: 20px;
    text-shadow: none;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 2px rgb(255, 255, 255),
        -1px -1px 2px rgb(255, 255, 255);
    -webkit-text-stroke: .2px rgb(255, 255, 255);
    -webkit-text-stroke: initial;
    margin-top:-2px;
    vertical-align: super;
}

.column {
    height: inherit;
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 5px rgb(255, 0, 0),
        -2px -2px 5px rgb(47, 0, 255);
}

.loser {
    filter: grayscale(75%);
}

.winner {
    filter: none;
}

.column div {
    height: 17%;
    margin: 2px;
    backdrop-filter: blur(15px);
    transition: filter 2s ease;

}


.column .round1 {
    background-color: rgba(138, 43, 226, .5);
    border: 4px solid rgba(138, 43, 226, .5);
}

.column .round2 {
    background-color: rgba(255, 69, 0, .3);
    border: 4px solid rgba(255, 69, 0, .3);

}

.column .round4 {
    background-color: rgba(255, 0, 0, .3);
    border: 4px solid rgba(255, 0, 0, .3);

}

.column .round5 {
    background-color: rgba(0, 128, 0, .3);
    border: 4px solid rgba(0, 128, 0, .3);


}

.column .round3 {
    background-color: rgba(0, 0, 255, 0.3);
    border: 4px solid rgba(0, 0, 255, 0.3);

}

.column figure {
    max-height: 128px;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

@keyframes tremor-complexo {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }

    25% {
        transform: translate(-5px, -5px) rotate(-5deg);
    }

    50% {
        transform: translate(5px, 5px) rotate(5deg);
    }

    75% {
        transform: translate(-5px, 5px) rotate(-5deg);
    }

    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

/* Aplica a animação */
.hover {
    animation: tremor-complexo 0.5s infinite;
}

.column figure img {
    background: rgba(0, 0, 0, 0) no-repeat;
    background-image: url("./img/kon.png"), url("./img/bg.png");
    background-size: cover;
    height: 100%;
}